BrowserExtension/node_modules/*
BrowserExtension/dist/*
BrowserExtension/npm-debug.log*
BrowserExtension/yarn-debug.log*
BrowserExtension/yarn-error.log*
BrowserExtension/.env
BrowserExtension/.env.local
BrowserExtension/.env.development
BrowserExtension/.env.test
BrowserExtension/.env.production
reddit-clone/node_modules/*
reddit-clone/dist/*
reddit-clone/npm-debug.log*
reddit-clone/yarn-debug.log*
reddit-clone/yarn-error.log*
reddit-clone/.next/*
**/.DS_Store
**/.DS_Store?
**/__pycache__/
**/.env
**/.env/*
**/.next/*
Backend/logs/*
!Backend/logs/.gitkeep
Backend/data/*
!Backend/data/.gitkeep
*.pyc
__pycache__/